#contact {
  padding: 2rem 1rem;
  background-color: #f8f8f8;
  font-family: sans-serif;
  height: auto;
}

#contact h1 {
  background: linear-gradient(to right, #800080, #dda0dd); /* градиент сиреневого цвета */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.8rem;
  margin-bottom: 20px;
  text-align: center;
}
/* ------- RESERVE ------- */
.reserve {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 90vh;
}

.reserve img {
  max-height: 80%;
  border-radius: 10px;
  object-fit: cover;
}

.reserve .form {
  flex: 1 1 300px;
}

/* ------- FORM ------- */
.form {
  flex: 1;
  min-width: 300px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form .row {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.form input,
.form textarea {
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="tel"],
.form input[type="datetime-local"],
.form input[type="number"] {
  flex: 1;
  min-width: 140px;
}

.form button {
  align-self: flex-start;
  padding: 12px 24px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

/* ------- MAP ------- */
.map-container {
  width: 100%;
}

.contact-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  justify-items: center;
}

.card_contact {
  background-color: #c2c0c0;
  width: 80%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 10px 11px 16px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card_contact i {
  font-size: 32px;
  color: #884d9c;
  margin-bottom: 10px;
}

.card_contact:hover {
  transform: scale(1.03);
  box-shadow: 20px 20px 16px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .reserve {
    height: auto;
  }
  .reserve img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
  }
  .map-container iframe {
    height: 300px;
  }
}

@media (max-width: 768px) {
  .card_contact {
    width: 80%; /* Занимает всю доступную ширину */
    padding: 15px;
    box-sizing: border-box;
    word-wrap: break-word; /* Длинные слова переносятся */
    overflow-wrap: break-word; /* Современный аналог */
  }
  .contact-info {
    grid-template-columns: 2fr; /* одна колонка вместо двух */
  }
}
